* {
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 250, 254);
  display: flex;
  flex-direction: column;
}
header {
  background-color: rgb(174, 170, 165);
}

h1 {
  text-align: center;
  color: rgb(52, 52, 50);
  text-shadow: 0 2px 4px white;
  font-size: 38px;
}

h2 {
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  text-shadow: 0 2px 4px white;
  color: rgb(69, 68, 66);
  background-color: rgb(231, 231, 225);
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 10;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: white;
}

.pocetna {
  text-decoration: none;
  background-color: rgb(237, 233, 227);
  color: black;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  font-size: 14px;
  align-self: center;
  cursor: pointer;
  font-size: 16;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.pocetna:hover {
  transform: scale(1.3);
}

#logoutBtn {
  background-color: rgb(237, 233, 227);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  font-size: 14px;
  align-self: center;
  padding: 8px;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}

#logoutBtn:hover {
  transform: scale(1.3);
}

#adminContent {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.del-user,
.del-order,
.del-comment {
  background-color: rgb(237, 56, 56);
  border-radius: 8px;
  border: none;
  padding: 5px;
  color: white;
  box-shadow: 0 3px 6px rgb(215, 155, 155);
  font-size: 10px;
  font-weight: 600;
  margin: 2px;
}

.del-user:hover,
.del-order:hover,
.del-comment:hover {
  cursor: pointer;
  background-color: rgb(226, 19, 19);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cont {
  box-shadow: 0 4px 8px black;
  width: 320px;
  height: 400px;
  overflow-y: auto;
  background-color: rgb(255, 251, 246);
  margin-top: 10px;
}

ul {
  font-size: 12px;
}

footer {
  text-align: center;
  background-color: white;
  margin-top: 30px;
}

@media (max-width: 1025px) {
  .cont {
    width: 300px;
    height: 350px;
    padding: 5px;
  }
}

@media (max-width: 1025px) {
  .cont {
    width: 250px;
    height: 350px;
    padding: 5px;
  }
}

@media (max-width: 546px) {
  .cont {
    width: 80%;
  }
}
