* {
  box-sizing: border-box;
}

body {
  margin: 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 243);
}

#zaglavlje {
  height: 600px;
  background: url("../projekt-slike/oslikavanje-stakla/casa-ruza.jpg") no-repeat
    fixed center center/cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#datetime {
  margin: 15px 0 0 30px;
  padding: 0;
  font-size: 22px;
  color: rgb(48, 47, 47);
  font-weight: bold;
}

h1 {
  margin-top: 300px;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

nav {
  display: flex;
}

#logo {
  margin-left: 10px;
  margin-top: 5px;
}

.nav {
  list-style: none;
  display: flex;
}

.nav li {
  position: relative;
}

.nav button {
  display: block;
  padding: 14px 20px;
  color: rgb(71, 62, 62);
  width: 150px;
}

.nav button:hover {
  background-color: aliceblue;
}

.subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #5e5d5d;
  list-style: none;
  padding: 10px;
  margin: 0;
  border-radius: 8px;
  min-width: 200px;
  z-index: 10;
  font-family: Segoe print;
}

.subnav li {
  color: rgb(254, 243, 243);
  padding: 8px;
}

.subnav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
}

.subnav.active {
  display: block;
}

.close {
  position: absolute;
  top: 5px;
  right: 7px;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.subnav a:hover {
  text-decoration: underline;
}

/* Aktivna klasa za otvaranje */
.dropdown.open .subnav {
  display: block;
}
.dropdown > button {
  padding: 0.5em;
  display: flex;
  margin-left: 50px;
  text-decoration: none;
  color: rgb(87, 77, 64);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(42, 42, 41, 0.929);
  background-color: rgb(255, 255, 254);
  font-family: Segoe print;
  border-radius: 8px;
  font-size: 18px;
  justify-content: center;
}

#map {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

h2 {
  font-size: 30px;
  font-family: Lucida caligraphy;
  color: rgb(111, 30, 30);
  background-color: rgb(227, 225, 222);
  text-align: center;
  padding: 16px;
  box-shadow: 0 2px 4px black;
  margin-left: 10px;
  margin-right: 10px;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: rgb(95, 71, 71);
  font-family: Lucida caligraphy;
  margin-bottom: 0;
  margin-top: 15px;
}

img {
  float: left;
  margin: 10px;
  box-shadow: 1px 2px 4px black;
}

.memo img {
  float: right;
}

p {
  margin-right: 30px;
  margin-left: 20px;
  text-align: justify wavy;
  color: rgb(91, 76, 76);
  font-size: 20px;
  font-family: Segoe print;
}

.flex-container {
  display: flex;
  gap: 5px;
}

.main-container {
  flex-basis: 76%;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 249, 240);
}

.container a {
  text-decoration: none;
  margin-left: 100px;
  box-shadow: 0 2px 4px black;
  font-size: 20px;
  padding: 0.2em;
  background-color: aliceblue;
  font-family: Segoe print;
  border-radius: 4px;
}

.memo a {
  margin-left: 500px;
}

hr {
  margin: 0;
}

.container a:hover {
  background-color: rgb(171, 207, 239);
}

aside {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-basis: 24%;
  background-color: rgb(195, 193, 190);
  border: 1px solid black;
  box-shadow: 0 2px 4px rgb(59, 45, 34);
}

aside p {
  font-size: 18px;
  text-align: center;
  color: #353434;
}

form {
  margin-top: 30px;
  font-family: Segoe print;
  text-align: center;
}

label {
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 22px;
  text-shadow: 0 2px 4px black;
}

input {
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
  font-family: Segoe print;
  box-shadow: 0 2px 4px rgb(5, 5, 5);
}

input:hover {
  background-color: aliceblue;
}

.soc {
  margin-top: 100px;
  font-size: 22px;
  font-weight: bold;
  color: #3f3e3e;
  text-shadow: 0 2px 4px white;
}

.social-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.social-icon a {
  font-size: 26px;
  color: #327fa0;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.social-icon a:hover {
  background: rgb(245, 242, 242);
  color: rgb(55, 53, 53);
  transform: scale(1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

footer {
  background-color: rgb(227, 225, 222);
  text-align: center;
  padding: 16px;
}
.natrag:hover {
  background-color: rgb(194, 225, 252);
}

footer a:hover {
  background-color: aliceblue;
}

article p {
  text-align: center;
}

section a {
  text-decoration: none;
  margin-left: 20px;
  box-shadow: 0 2px 4px black;
  font-size: 18px;
  padding: 0.2em;
  background-color: aliceblue;
  font-family: Segoe print;
  border-radius: 5px;
}

section a:hover {
  background-color: rgb(150, 198, 239);
}

.dalje {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dalje a {
  text-decoration: none;
  margin-left: 20px;
  box-shadow: 0 2px 4px black;
  font-size: 18px;
  padding: 0;
  background-color: aliceblue;
  font-family: Segoe print;
  border-radius: 5px;
}

footer a {
  text-decoration: none;
  box-shadow: 0 2px 4px black;
  font-size: 16px;
  padding: 0.2em;
  background-color: aliceblue;
  font-family: Segoe print;
  border-radius: 5px;
}

/*prijava*/
.container2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgb(254, 251, 251);
  margin-top: 40px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.container2 input {
  width: 100%;
  padding: 10px;
  margin: 5px 0px 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: Segoe print;
}

.container2 button {
  width: 100%;
  padding: 10px;
  background-color: #6294a5;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  margin-bottom: 8px;
  transition: background 0.3s;
  cursor: pointer;
  font-family: Segoe print;
}

#btnLogout {
  background-color: #92242f;
}

.container2 button:hover {
  background-color: #15495f;
}

#app {
  display: none;
}

.container2 ul {
  list-style: none;
  padding: 0;
}

.container2 li {
  background-color: #f8f8f8;
  margin-bottom: 6px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container2 li button {
  width: auto;
  font-size: 12px;
  padding: 6px 10px;
  margin-left: 5px;
}

/*fontovi*/
@font-face {
  font-family: Segoe print;
  src: url("../fontovi/segoepr.woff");
}
@font-face {
  font-family: Lucida caligraphy;
  src: url("../fontovi/LCALLIG.woff");
}

/* RESPONZIVNOST  */

@media (max-width: 1366px) {
  header {
    height: 550px;
  }

  #zaglavlje h1 {
    font-size: 48px;
  }

  .container {
    margin: 0 10px;
  }

  .container img {
    width: 180px;
    height: auto;
  }

  .container p {
    margin-bottom: 5px;
  }

  p {
    font-size: 18px;
  }

  #vise {
    padding: 1px;
    margin-bottom: 50px;
  }

  .nav button {
    font-size: 17px;
    padding: 10px 14px;
    margin-left: 15px;
  }

  aside {
    flex-basis: 30%;
  }

  .container2 {
    padding: 20px;
  }

  .container2 input,
  .container2 button {
    font-size: 14px;
  }

  .close {
    top: 5px;
  }
}

/* Za tablete i ekrane do 1024px širine */
@media (max-width: 1170px) {
  header {
    height: 500px;
    background-attachment: scroll;
  }

  h1 {
    font-size: 40px;
  }

  nav {
    flex-direction: row;
    align-items: center;
  }

  .nav button {
    width: 120px;
    font-size: 15px;
  }

  .flex-container {
    flex-direction: column;
  }

  aside {
    flex-basis: 100%;
    margin-top: 20px;
  }

  .memo a {
    margin-left: 0;
    text-align: center;
  }

  .container a {
    margin-left: 0;
  }
}

.dalje a {
  font-size: 18spx;
  padding: 5px;
}

/* Za mobitele do 768px širine */
@media (max-width: 986px) {
  body {
    margin: 5px;
  }

  header {
    height: 350px;
    background-attachment: scroll;
  }

  #zaglavlje h1 {
    font-size: 32px;
    margin-top: 200px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .nav {
    flex-direction: row;
    margin: 5px 0;
    gap: 5px;
    padding-left: 10px;
  }

  #logo {
    display: none;
  }

  #datetime {
    margin-top: 5px;
    font-size: 17px;
    margin: 0;
  }

  .nav button {
    width: 85%;
    margin: 10px 0;
    font-size: 16px;
  }

  .subnav {
    position: static;
    width: 100%;
  }

  .close {
    position: absolute;
    top: 65px;
    right: 5px;
    font-size: 22px;
    cursor: pointer;
    color: white; /* ne mora biti white jer je na svijetloj pozadini */
    z-index: 10;
  }

  .flex-container {
    flex-direction: column;
  }

  aside {
    width: 100%;
    margin: 10px 0;
  }

  .container a,
  section a,
  .dalje a {
    margin-left: 10px;
    display: block;
    margin: 8px auto;
    text-align: center;
    width: 18%;
    font-size: 16px;
    padding: 1px;
  }

  p {
    font-size: 18px;
  }

  #map {
    height: 250px;
  }

  .container2 {
    flex-direction: column;
    padding: 15px;
  }

  .container2 input,
  .container2 button {
    width: 100%;
  }
}

/* Za vrlo male ekrane (do 480px) */
@media (max-width: 520px) {
  #zaglavlje h1 {
    max-width: 80%;
  }

  nav {
    flex-direction: column;
    padding-left: 0;
  }

  .nav {
    margin-bottom: 0;
  }

  #logo {
    display: none;
  }

  #datetime {
    font-size: 16px;
    margin-top: 0;
  }

  h2 {
    font-size: 20px;
    padding: 10px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  .container img {
    max-height: 200px;
    width: auto;
  }

  #vise {
    font-size: 14px;
  }

  .galerija {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .galerija img {
    margin-left: 0;
  }

  .dalje a {
    font-size: 8px;
    width: 19%;
  }

  footer {
    font-size: 14px;
    padding: 10px;
  }

  .natrag {
    font-size: 14px;
    width: 50%;
  }
}

/*komentari*/
.komentar-sekcija {
  max-width: 700px;
  margin-top: 30px;
  background-color: #888686;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgb(0, 0, 0);
  font-family: Segoe Print, sans-serif;
}

.komentar-forma {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  justify-self: center;
}

.comm {
  border-radius: 4px;
  box-shadow: 0 2px 4px white;
  cursor: pointer;
  font-family: Segoe print;
}

/* Prozor za komentare */
.komentar-okvir {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f1f0ea;
  padding: 5px;
  height: 500px;
  overflow-y: auto; /* scroll ako ima puno komentara */
  box-shadow: 0 2px 5px rgba(255, 255, 253, 0.5);
  font-size: 13px;
}

.komentar-lista strong {
  color: #292828;
  display: block;
}

.komentar-lista span {
  color: gray;
  font-size: 0.85em;
  display: block;
  margin-bottom: 5px;
}

/*pitaj*/
.upit {
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(254, 249, 249, o.5);
  margin-bottom: 40px;
}

.upit a {
  text-decoration: none;
  color: #444444;
  font-family: Segoe print;
}

.upit:hover {
  background-color: aliceblue;
}

#pitaj {
  background-color: #b6b0b0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pitaj h1 {
  color: #444;
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
  font-family: Lucida caligraphy;
  text-shadow: 0 2px 4px white;
}

#pitaj p {
  color: #292828;
  font-size: 22px;
  margin: 0;
  text-decoration: wavy;
  text-align: center;
}

#pitaj form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 15px;
  align-items: center;
}

#pitaj input {
  margin-top: 0;
  width: 400px;
}

#pitaj button {
  width: fit-content;
  align-content: center;
  border-radius: 7px;
  font-family: Segoe print;
  font-size: 18px;
  cursor: pointer;
}

#pitaj a {
  text-decoration: none;
  font-size: 18px;
  font-family: Segoe print;
  box-shadow: 0 3px 6px #292828;
  border-radius: 8px;
  background-color: rgb(203, 203, 203);
  padding: 5px;
  color: #292828;
}

#pitaj textarea {
  box-shadow: 0 3px 6px rgba(23, 23, 23, 0.5);
}
